
body {
    background-color: #FFFFFF;
    font-family: Verdana;
}

h1 {
    color: #3FAAE0;
    text-align: center;
}

h3 {
    text-align: right;
}

p {
    color: #000000;
    text-align: left;
}

a {
    color: #3FAAE0 !important;
}
a:hover {
    color: #F39331 !important;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
}
